---

import Layout from '@/layouts/Layout.astro'

import About from '@/components/About.astro'
import Education from '@/components/Education.astro'
import Experience from '@/components/Experience.astro'
import Hero from '@/components/Hero.astro'
import Projects from '@/components/Projects.astro'
import Skills from '@/components/Skills.astro'
import KeyboardManager from '@/components/KeyboardManager.astro'

import { basics, experience, education, projects, skills } from "@cv"
const { name } = basics
---

<Layout language="es" title=`CV minimalista - ${name}`>
	<main>
		<Hero data={basics} />
		<About data={basics.summary}/>
		<Experience data={experience} />
		<Education data={education} />
		<Projects data={projects} />
		<Skills data={skills} />
	</main>
	
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%
	}
</style>
