---
import { basics } from '@cv'
import Section from '@/components/Section.astro'


const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location
---

<Section title="Hero section">
  <div class="container">
    <div class="info">
      <h1>{ name }</h1>
      <h2>{ label }</h2>
      <span>
        <!-- icono -->
        {city}, {region}
      </span>
      <footer>
        {
          email && (
            <a 
              href={`mailto: ${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="nooperner noreferrer"
            >
            <!-- icono -->
            </a>
          )
        }
      </footer>
    </div>
    <figure>
      <img class="profilePic" src={image} alt={name}>
    </figure>
  </div>
</Section>

<style>
  .profilePic {
    width: 5rem;
    height: 5rem;
  }

</style>